body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

/* NAVBAR PART */

nav {
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.logo-part {
    display: flex;
    gap: 10px;
    align-items: center;

}

.logo-part p {
    font-weight: 900;
    font-size: 18px;

}

.nav-text {
    display: flex;
    /* align-items: center; */
    width: 350px;
    justify-content: center;
    gap: 20px;

}

.nav-text ul {
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;

}

.nav-text a {
    text-decoration: none;
    color: #000;

}

.nav-text li {
    display: flex;
    gap: 30px;

}

.nav-text p {
    font-weight: 400;
    font-size: 16px;
}

.log-start-button {
    display: flex;
    align-items: center;
    gap: 20px;

}

.log-text a {
    text-decoration: none;
    color: #000;

}

.log-text p {
    font-weight: 400;

}

.start-button button {
    width: 130px;
    height: 50px;
    background-color: #0066FF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    border-radius: 5px;
}


@media (max-width: 1024px) {
    /*  */
}


@media (max-width: 768px) {
    nav {
        gap: 50px;
        padding: 0 20px;
        flex-wrap: wrap;

    }
}

/* WELCOME PART */

.main-part {
    display: flex;
    justify-content: center;
}

.form-wrapper {
    display: flex;
    border: 3px solid #4169ff;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    width: 400px;
}

.email-input {
    flex: 1;
    padding: 16px 20px;
    border: none;
    font-size: 16px;
    outline: none;
    color: #333;
}

.email-input::placeholder {
    color: #999;
}

.trial-button {
    background: #4169ff;
    color: white;
    border: none;
    padding: 16px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
}

.trial-button:hover {
    background: #3151d9;
}

.trial-button:active {
    transform: scale(0.98);
}

.arrow {
    font-size: 18px;
}


.main-img-elements {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(6, 1fr); /* 6 единиц – удобнее для span */
    grid-auto-rows: 100% /* высота «строки» — контролируемая */

}

.large-card-img {
    grid-column: span 1;
    grid-row: span 2;
    
}

/* Адаптивность */
@media (max-width: 480px) {
    .form-wrapper {
        flex-direction: column;
    }
    
    .trial-button {
        justify-content: center;
    }
}
